.imageWrapper {
  height: var(--thumbnail-size);
  position: relative;
}

.imageWrapper img {
  width: 100%;
  border-radius: 1rem;
  transition: opacity 0.5s;
}

.card {
  display: flex;
  transition: opacity 0.2s;
  cursor: pointer;
}

.card section {
  display: flex;
  flex-direction: column;
  margin-left: var(--spacing-4);
}

.card time {
  margin-top: 1rem;
  font-size: 0.9rem;
  color: var(--color-text-light);
}

.title {
  margin-top: var(--spacing-0);
  margin-bottom: auto;
  font-size: var(--fontSize-2);
}

.tags {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  font-size: 0.9rem;
  color: var(--color-text-light);
}

.tags li {
  margin: 0;
  text-decoration: underline;
}

.tags li:not(:first-of-type)::before {
  content: "/";
  padding: 0 0.5rem;
  display: inline-block;
}

@media (max-width: 37.5em) {
  .title {
    font-size: var(--fontSize-1);
  }

  .card time,
  .tags {
    font-size: 0.8rem;
  }
}

@media (hover: hover) {
  .card:hover {
    opacity: 0.5;
  }
}
