.searchArea {
  margin-bottom: var(--spacing-12);
  text-align: center;
}

.searchAreaLabelTag {
  font-size: var(--fontSize-3);
  margin-top: 0;
}

.searchAreaInput {
  display: flex;
  justify-content: center;
  align-items: center;
}

.searchAreaInput input {
  border: none;
  border-bottom: 1px solid;
  border-radius: 0;
  background: transparent;
  outline: none;
}

.searchButton {
  margin-left: -1.3rem;
  width: 1rem;
}

.searchResultList {
  display: grid;
  word-wrap: break-word;
  grid-template-columns: 1fr 1fr;
  column-gap: 4vw;
  row-gap: 4vw;
}

.searchResultImageWrapper {
  height: var(--thumbnail-size);
  position: relative;
}

.searchResultImageWrapper img {
  width: 100%;
  border-radius: 1rem;
  transition: opacity .5s;
}

.searchResultItem a {
  display: flex;
  text-decoration: none;
  transition: opacity .2s;
}

.searchResultItem a:hover{
  opacity: .5;
}

.searchResultItem section {
  display: flex;
  flex-direction: column;
  margin-left: var(--spacing-4);
}

.searchResultItem time {
  margin-top: 1rem;
  font-size: .9rem;
  color: var(--color-text-light);
}

.searchResultItemTitle {
  margin-top: var(--spacing-0);
  margin-bottom: auto;
  font-size: var(--fontSize-2);
}

.searchResultTagList {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  font-size: .9rem;
  color: var(--color-text-light);
}

.searchResultTagList li {
  margin: 0;
}

.searchResultTagList li:not(:first-of-type)::before {
  content: "/";
  padding: 0 .5rem;
}

@media (max-width: 37.5em) {
  .searchResultList {
    grid-template-columns: 1fr;
  }

  .searchResultItemTitle {
    font-size: var(--fontSize-1);
  }

  .searchResultItem time,
  .searchResultTagList {
    font-size: .8rem;
  }
}
