.searchArea {
  margin-bottom: var(--spacing-12);
  text-align: center;
}

.searchAreaLabelTag {
  font-size: var(--fontSize-3);
  margin-top: 0;
}

.searchAreaInput {
  display: flex;
  justify-content: center;
  align-items: center;
}

.searchAreaInput input {
  border: none;
  border-bottom: 1px solid;
  border-radius: 0;
  background: transparent;
  outline: none;
}

.searchButton {
  margin-left: -1.3rem;
  width: 1rem;
}

.searchResultList {
  display: grid;
  word-wrap: break-word;
  grid-template-columns: 1fr 1fr;
  column-gap: 4vw;
  row-gap: 4vw;
}

@media (max-width: 37.5em) {
  .searchResultList {
    grid-template-columns: 1fr;
  }
}
