.notFoundPage {
  text-align: center;
  margin: var(--spacing-0) auto;
  max-width: var(--maxWidth-wrapper);
  padding: var(--spacing-2) var(--spacing-5);
  word-wrap: break-word;
}

.notFoundPage section {
  margin-top: var(--spacing-4);
}
